.jumbotron {
    background-color: aquamarine;
    color: black;
    margin-top: 50px;
}

footer {
    background-color:aquamarine;
    margin: 15px 2px 2px 2px;
    padding: 10px 2px 2px 2px;
}
.center{
    text-align: center;
}
.card-product{
    flex: 1 150px;
    margin: 10px;
    
}
.footer-address-icon {
    padding-right: 10px;
}
.btn-product{
    width: 100%;
    background-color: rosybrown ;
}