$yellow: #fab905;
$green: aquamarine;
$red: #ba3a3a;
$black: rgb(0,0,0);
$pink: rgb(188, 143, 143);

@mixin margen($top, $right,$bottom, $left ) {
    margin: $top $right $bottom $left;
}
@mixin relleno($top, $right,$bottom, $left){
    padding: $top $right $bottom $left;
}
.jumbotron {
    background-color: $green;
    color: $black;
    @include margen(50px, 0px, 0px, 0px);
}

footer {
    background-color: $green;
    @include margen(15px, 2px, 2px, 2px) ;
    @include relleno(10px, 2px , 2px, 2px );
}
.center{
    text-align: center;
}
.card-product{
    flex: 1 150px;
    @include margen(10px, 0px, 0px, 0px) ;
    
}
.footer-address-icon {
    @include relleno(10px, 0px, 0px, 0px) ;
}
.btn-product{
    width: 100%;
    background-color: $pink;
}