.jumbotron {
  background-color: #05faa0;
  color: #000000;
  margin: 50px 0px 0px 0px;
}
footer {
  background-color: #05faa0;
  margin: 15px 2px 2px 2px;
  padding: 10px 2px 2px 2px;
}
.center {
  text-align: center;
}
.card-product {
  flex: 1 150px;
  margin: 10px 0px 0px 0px;
}
.footer-address-icon {
  padding: 10px 0px 0px 0px;
}
.btn-product {
  width: 100%;
  background-color: #bc8f8f;
}
