@yellow: #fab905;
@green: #05faa0;
@red: #ba3a3a;
@black: rgb(0,0,0);
@pink: rgb(188, 143, 143);

.margen(@top, @right,@bottom, @left ) {
    margin: @top @right @bottom @left;
}
.relleno(@top, @right,@bottom, @left){
    padding: @top @right @bottom @left;
}
.jumbotron {
    background-color: @green;
    color: @black;
   .margen(50px, 0px, 0px, 0px) ;
}

footer {
    background-color: @green;
   .margen(15px, 2px, 2px, 2px) ;
   .relleno(10px, 2px , 2px, 2px );
}
.center{
    text-align: center;
}
.card-product{
    flex: 1 150px;
    .margen(10px, 0px, 0px, 0px) ;
    
}
.footer-address-icon {
   .relleno(10px, 0px, 0px, 0px) ;
}
.btn-product{
    width: 100%;
    background-color: @pink ;
}